* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accordion {
  width: 600px;
  margin: 2rem auto;
}

.accordion-item {
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
  padding: 1rem 3rem 1rem 1rem;
  cursor: pointer;
}

.hide {
  max-height: 0;
  overflow: hidden;
}

.accordion-item-body-content {
  padding: 1rem;
  border-top: 1px solid;
}
