@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-color: #274471;
}
* {
  box-sizing: border-box;
  border-color: white;
}
.container {
  width: 400px;
  align-item: center;
  background-color: rgb(243,243,243);
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin: auto;
}
#contactForm {
  padding: 25px;
}
input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 5px;
  /*border:none; if l want the contact form to look exactly like the image given for homework*/
}
input[type=text]:hover {
  background-color: #d1d1d1;
}
input[type=email]:hover {
  background-color: #d1d1d1;
}
input[type=submit] {
  background-color: #1ac0f3;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
textarea:hover {
  background-color: #d1d1d1;
}
